{
	auto_https off
	admin off
	log {
		format console
	}
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
    respond /health 200

    basic_auth {
		user $2a$14$rsiqNduPLsAVYzrHw3dpe.lNFbeIs9iTOJoFLKy7iVAoqLKRaWYPm
	}

    log {
        format console
    }

	encode zstd gzip

	handle_path /api/* {
		reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
	}
	
	handle {
		root * /usr/share/caddy
		try_files {path} /index.html
		file_server
	}
}